<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Bank_Project</display-name>
	<servlet>
		<description>
		</description>
		<display-name>LoginValidation</display-name>
		<servlet-name>LoginValidation</servlet-name>
		<servlet-class>com.controller.LoginValidation</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.controller.Login</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RegValidation</display-name>
		<servlet-name>RegValidation</servlet-name>
		<servlet-class>com.controller.RegValidation</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Register</display-name>
		<servlet-name>Register</servlet-name>
		<servlet-class>com.controller.Register</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Balance</display-name>
		<servlet-name>Balance</servlet-name>
		<servlet-class>com.controller.Balance</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ChangePassValidation</display-name>
		<servlet-name>ChangePassValidation</servlet-name>
		<servlet-class>com.controller.ChangePassValidation</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ChangePassword</display-name>
		<servlet-name>ChangePassword</servlet-name>
		<servlet-class>com.controller.ChangePassword</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TransferValidation</display-name>
		<servlet-name>TransferValidation</servlet-name>
		<servlet-class>com.controller.TransferValidation</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Transfer</display-name>
		<servlet-name>Transfer</servlet-name>
		<servlet-class>com.controller.Transfer</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ForgotPassValidation</display-name>
		<servlet-name>ForgotPassValidation</servlet-name>
		<servlet-class>com.controller.ForgotPassValidation</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ForgotPassword</display-name>
		<servlet-name>ForgotPassword</servlet-name>
		<servlet-class>com.controller.ForgotPassword</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ChangeNameVal</display-name>
		<servlet-name>ChangeNameVal</servlet-name>
		<servlet-class>com.controller.ChangeNameVal</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ChangeName</display-name>
		<servlet-name>ChangeName</servlet-name>
		<servlet-class>com.controller.ChangeName</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginValidation</servlet-name>
		<url-pattern>/LoginValidation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegValidation</servlet-name>
		<url-pattern>/RegValidation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/Register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Balance</servlet-name>
		<url-pattern>/Balance</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangePassValidation</servlet-name>
		<url-pattern>/ChangePassValidation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangePassword</servlet-name>
		<url-pattern>/ChangePassword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TransferValidation</servlet-name>
		<url-pattern>/TransferValidation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Transfer</servlet-name>
		<url-pattern>/Transfer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ForgotPassValidation</servlet-name>
		<url-pattern>/ForgotPassValidation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ForgotPassword</servlet-name>
		<url-pattern>/ForgotPassword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangeNameVal</servlet-name>
		<url-pattern>/ChangeNameVal</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangeName</servlet-name>
		<url-pattern>/ChangeName</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>login.html</welcome-file>
	</welcome-file-list>
</web-app>
